#top .container {
  background: #1bbc9b;
  background-color: rgba(27, 188, 155, 0.8);
  color: white;
  padding-top: 30px;
  position: relative;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (max-width: 1200px) {
    
    .container {
    padding-top: 0px !important;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
@media (min-width: 768px) and (max-width: 979px) {
    
    .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 756px;
  }
}
@media (max-width: 767px) {
    
    .container {
    width: auto;
  }
}